﻿@model IEnumerable<TechTestUsers.Data.Entities.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-default pull-right">Nuevo Usuario</a>
</p>
<br /><br />
<hr />
<table class="table table-striped" id="usertb"> 
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Usuario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Sexo
            </th>
            <th>
                Estatus
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr style="background-color:@(item.Estatus == TechTestUsers.Core.Enums.Status.Activo ? "" : "#d9534f;color:white")">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @if (item.Estatus == TechTestUsers.Core.Enums.Status.Activo)
                {
                    <div class="btn-group">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-info" title="Edit">Editar</a>
                        <a href="javascript:deleteItem('@item.Id');" class="btn btn-danger" title="Delete">Eliminar</a>
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>


@section Styles {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

}


@section Scripts
{
   <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#usertb").DataTable({
            });
        });
    function deleteItem(id) {
        if (confirm('El usuario sera eliminado. ¿Desea Continuar?')) {
            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("Delete", "User")",
                data: { Id: id },
                success: function (response) {
                    window.location.assign("@Url.Action("Index", "User")");
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    }
    </script>
}